<%- include('header'); -%>
<div class="ab">
  <a class="ab1" href="#about me">About me</a>
  <a class="ab1" href="#habits">Habits</a>
  <a class="ab1" href="#study">Study</a>
  <a class="ab1" href="#skill">Skill</a>
</div>


<h1 style="color:white; text-align:center;">Welcome</h1>

<!-- about me -->
<div id="about_me">
  <article class="">
    <h2 class="headingN">It's me</h2>
    <img class="abimg" src="https://media.giphy.com/media/u2pmTWUi0MXjyrMaVj/giphy.gif" alt="">
    <p class="abcontant">I am a Full-Stack Developer with academic experience in building websites and web applications. I specialize in frontend and have professional experience working with HTML, CSS, JavaScript, Bootstrap & jQuary.
    I am interested in Computer And Technology when I was studying in 9th standard, And I try to find My life and Desired in Computer Science so I have done my B.sc with Computer Science and Now currently pursuing MCA batch 2021 And this desired is to continue with Computer Science, and this time to hard to me, I earned full-Stack developer certificate from Udemy under Instructor By Dr. Angela yu and then Confidently understand that I want to be a web Developer. And nowadays I am a beginner at Flutter.</p>
  </article>
</div>
<br>

<!-- My habits -->
<div id="habits">
  <article class="">
    <h2>Habits</h2>
    <img class="habimg" src="https://i.pinimg.com/564x/2b/2c/32/2b2c322103ce942563bf75899d636336.jpg" alt="">
    <ul>
      <li> I try to find a new Technology everytime</li>
      <li>I love Spend time with my Laptop.</li>
      <li>Listening Soft bass boosted song</li>
      <li>Self-realization</li>
      <li>Read religion books </li>
      <li>I love Chit chat with my friend</li>
    </ul>
  </article>
</div>
<br>
<div id="study">
  <article class="">
    <h2>Study</h2>
      <h1><span class="degree" ></span> from Gurukul Kangri University </h1>
      <h1><span class="degree1" ></span> from Radha Inter College Dhampur </h1>
    </div>

  </article>

</div>
<br>
<div id="skill">
  <article class="">
    <h2>Skill</h2>
    <img class="skimg" src="https://media.giphy.com/media/3otO6zntMrmhpvaYX6/giphy.gif" alt="">
    <label for="">HTML</label>
<meter  value="8" min="0" max="10">8 out of 10</meter><br>

<label class for="">CSS</label>
<meter  value="7" min="0" max="10">7 out of 10</meter><br>

<label for="">JavaScript</label>
<meter  value="7" min="0" max="10">7 out of 10</meter><br>

<label for="">NodeJs</label>
<meter value="6" min="0" max="10">6 out of 10</meter><br>

<label for="">MongoDB</label>
<meter  value="5" min="0" max="10">5 out of 10</meter><br>

  </article>

</div>



<%- include('footer'); -%>
