<footer>
  <a href="https://www.youtube.com/channel/UCyetPErepTo_-v1GUzpoFSA">Youtube</a>
  <a href="https://www.linkedin.com/in/gautam-kumar3ab861117/">linkedIn</a>
  <a href="">Instagram</a>
  <a href="https://twitter.com/ramanvanshalaj">Twitter</a>
  <br>
  copyright©tHE RGVtech@2021
</footer>
</body>
</html>
