<%- include('header'); -%>
<!-- intro -->
<div>
  <img style="width:100px; height:100px;margin:20px;border-radius:50%; " src="https://i.pinimg.com/originals/5a/6f/6e/5a6f6e6597dde944956b456b8e90e36b.png" alt="">
  <h1>tHE RGVtech </h1>
</div>

<div class="intro1">
  <h2 class="intro"  >Hi...I'm Gautam Kumar</h2>
  <p  class="intro" ><span class="change_content"></span></p>
</div>
<img class="myimg" src="https://i.pinimg.com/236x/00/4c/c3/004cc355fc5125ef5914977a4afe196a.jpg" alt="">



<!-- social media  connectivity  link-->
<div class="s1">
  <button class="hire" type="button" name="button"><a hire1 href="https://drive.google.com/file/d/1DiNVr7WcsES7reCXiIN2YkPVNETiddxD/view?usp=sharing">Hire me</a></button>
  <br>
  <a class="social1" href="https://wa.me/919675713485"><i class="fab fa-whatsapp"></i></a>
  <a class="social1" href="https://www.youtube.com/channel/UCyetPErepTo_-v1GUzpoFSA"><i class="fab fa-youtube"></i></a>
  <a class="social1" href="https://www.linkedin.com/in/gautam-kumar3ab861117/"><i class="fab fa-linkedin"></i></a>
  <a class="social1" href="https://twitter.com/ramanvanshalaj"><i class="fab fa-twitter"></i></a>
</div>

<%- include('footer'); -%>
